@model Mvc_Vize.Models.Yonetici

@{
    ViewBag.Title = "Delete";
}

<h2>Sil</h2>


<div>
    <h4>Yonetici</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.YoneticiAd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.YoneticiAd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.YoneticiSoyad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.YoneticiSoyad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.YoneticiRol)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.YoneticiRol)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Sil" class="btn btn-danger" /> |
            @Html.ActionLink("Geri Git", "Index")
        </div>
    }
</div>
