@model Mvc_Vize.Models.Mezunlar

@{
    ViewBag.Title = "Details";
}

<h2>Bilgiler</h2>

<div>
    <h4>Mezunlar</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MezunAd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MezunAd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MezunSoyad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MezunSoyad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MezunBolum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MezunBolum)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Güncelle", "Edit", new { id = Model.MezunId }) |
    @Html.ActionLink("Geri Git", "Index")
</p>
