@model Mvc_Vize.Models.idare

@{
    ViewBag.Title = "Details";
}

<h2>İdareci Bilgileri</h2>

<div>
    <h4>idare</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IdariBirimAd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdariBirimAd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdariAd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdariAd)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Güncelle", "Edit", new { id = Model.IdareId }) |
    @Html.ActionLink("Geri Git", "Index")
</p>
