@model IEnumerable<Mvc_Vize.Models.Akademisyen>

@{
    ViewBag.Title = "Index";
}

<h2>AKADEMİSYENLERİMİZ</h2>

<p>
    @Html.ActionLink("Yeni Kayıt", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @*@Html.DisplayNameFor(model => model.AkdAd)*@
            Akademisyen Ad
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.AkdSoyad)*@
            Akademisyen Soyad
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.AkdBolum)*@
            Akademisyen Bölüm
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AkdAd)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AkdSoyad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AkdBolum)
        </td>
        <td>
            @Html.ActionLink("Güncelle", "Edit", new { id=item.AkdId }, new { @class = "btn btn-success" }) |
            @Html.ActionLink("Detaylar", "Details", new { id=item.AkdId }, new { @class = "btn btn-primary" }) |
            @Html.ActionLink("Sil", "Delete", new { id=item.AkdId }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
